# SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum hereon GmbH (Hereon)
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileContributor: Carsten Lemmen <carsten.lemmen@hereon.de

enable-replacements=True
c-relations=True

# White space settings
indent=2
line-length=132
strict-indent=True
strip-comments=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-comma=True
whitespace-intrinsics=True
whitespace-print=True
whitespace-type=False

# Control whitespace around '::' declarations
whitespace-decl=True
enable-decl=True

# Don't indent pre-processor statements
disable-fypp=True

case=[1,1,1,1]
exclude=[]
