lib

# Temporary dirs
.objs/

# Generated executables
schism_esmf_test

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log files from ESMF
PET*

# Outputs from SCHISM

flux.dat
fort.11
param.out.nml
total.dat
total_TR.dat

concurrent_esmf_test
triple_schism
multi_schism
schism_pdaf
